.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-container {
    background: var(--bg-light);
    display: flex;
    width: 80%;
    height: 80%;
    border-radius: 12px;
    overflow: hidden;
}
