.modal-body {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title-input {
  font-size: 1.5rem;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border-muted);
}

.content-input {
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
}

.modal-sidebar {
  flex: 1;
  background: var(--bg);
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 0.4rem 0rem;
  background-color: var(--bg-light);
  border: 1px solid var(--border-muted);
  border-radius: 0.2rem;
  box-shadow: var(--shadow-s);
}

.actions > .primary {
    background-color: var(--danger);
}

.actions > .info {
  background-color: var(--info);
}
