:root {
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(300 0% 95%);
    --bg-light: hsl(300 50% 100%);
    --text: hsl(300 0% 4%);
    --text-muted: hsl(0 0% 28%);
    --highlight: hsl(300 50% 100%);
    --border: hsl(300 0% 50%);
    --border-muted: hsl(340 0% 62%);
    --primary: hsl(115 47% 23%);
    --secondary: hsl(292 34% 30%);
    --danger: hsl(8, 50%, 51%);
    --warning: hsl(52 23% 34%);
    --success: hsl(147 19% 36%);
    --info: hsl(217 22% 41%);
    --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030,
        0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030,
        0 4px 8px #00000015;
    --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030,
        0 6px 10px #00000015;
}

body {
    background-color: var(--bg-dark);
    color: var(--text);
    padding: 2rem 3rem;
}

.App-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.App-title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
}

.App-title > h3 {
    margin-bottom: 1.5rem;
}

.logout-button {
    background-color: var(--danger);
    color: var(--bg-light);
    border: 1px solid var(--danger);
    box-shadow: var(--shadow-s);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    height: min-content;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-dark);
    color: var(--text);
}

.login-container {
    background: var(--bg, #fff);
    padding: 2.5rem 3rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-m);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form input {
    width: calc(100%-2rem);
    padding: 0.9rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid var(--border, #ccc);
    background: var(--bg-light, #fafafa);
    font-size: 1rem;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
}

.login-form button {
    margin-top: 1rem;
    padding: 0.9rem;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--text, #4f46e5);
    color: var(--bg-light);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: var(--shadow-s, 0 4px 10px rgba(0, 0, 0, 0.1));
    transition: background 0.2s, transform 0.1s;
}
