.card {
    background-color: var(--bg-light);
    padding: 1rem 2rem;
    border: 1px solid var(--bg);
    border-top: 1px solid var(--highlight);
    border-radius: 1rem;
    box-shadow: var(--shadow-s);
    overflow: hidden;
    height: 18rem;
    max-height: 18rem;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-dark);
    flex-shrink: 0;
}

.card-top > h3 {
    margin: 0.5rem 0;
    word-break: break-word;
}

.card-body > p {
    margin-top: 1rem;
    margin-bottom: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.text-content {
  height: 100%;
  overflow:auto;
  line-height: 1.25;
}